NodeName=vm-gpu3-1-* Name=gpu File=/dev/nvidia0
NodeName=vm-gpu3-2-* Name=gpu File=/dev/nvidia[0-1]
NodeName=vm-gpu3-4-* Name=gpu File=/dev/nvidia[0-3]
NodeName=bm-gpu3-8-* Name=gpu File=/dev/nvidia[0-7]
